@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: "rlig" 1, "calt" 1;
}

.prose-discord {
  --tw-prose-body: theme('colors.discord.text.primary');
  --tw-prose-headings: theme('colors.white');
  --tw-prose-lead: theme('colors.discord.text.secondary');
  --tw-prose-links: theme('colors.discord.accent');
  --tw-prose-bold: theme('colors.white');
  --tw-prose-counters: theme('colors.discord.text.secondary');
  --tw-prose-bullets: theme('colors.discord.text.secondary');
  --tw-prose-hr: theme('colors.discord.muted/30');
  --tw-prose-quotes: theme('colors.discord.text.secondary');
  --tw-prose-quote-borders: theme('colors.discord.accent/20');
  --tw-prose-captions: theme('colors.discord.text.muted');
  --tw-prose-code: theme('colors.discord.accent');
  --tw-prose-pre-code: theme('colors.discord.text.primary');
  --tw-prose-pre-bg: theme('colors.discord.darkest');
  --tw-prose-th-borders: theme('colors.discord.muted/30');
  --tw-prose-td-borders: theme('colors.discord.muted/15');
}
